:root {
  --primary-color: #008848;
  --secondary-color: #f8ef25;
  --tertiary-color: #c10017;
}

* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: #e9edf0;
}

.mg-10 {
  margin: 10px;
}

.mt-15 {
  margin-top: 15px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.button {
  padding: 10px;
  border: 1px solid var(--primary-color);
  border-radius: 3px;
  text-transform: uppercase;
  cursor: pointer;
}

.button.white {
  background-color: white;
  font-size: 17px;
}

.button.primary {
  background-color: var(--primary-color);
  color: white;
  font-size: 17px;
}

.width-100 {
  width: 100%;
}

.main {
  margin: 50px 40px 0 270px;
}

textarea {
  resize: none;
}
